.idea/
builds/
.env
config.yml
config-portal.yml
config-runner.yml
.DS_Store
ct-*/
iac-*/
*.tar.gz
targets/
plugin-cache/
/repos/
/assets/providers/
/docs/docs.go
/docs/swagger.json
/docs/swagger.yaml
/var/
/run/
/site/
