.idea/
builds/
.env
config.yml
config-portal.yml
config-runner.yml
.DS_Store
.scannerwork
ct-*/
iac-*/
*.tar.gz
/targets/
plugin-cache/
/repos/
/assets/providers/
/docs/docs.go
/docs/swagger.json
/docs/swagger.yaml
/var/
/run/
/site/
/build/
*_debug_test.go
coverage.out
report.xml
gosec-report.xml
