listen: "0.0.0.0:9030"
mysql: "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?charset=utf8mb4&parseTime=True&loc=Local"

cost_serve: "${COST_SERVE}"

secretKey: "${SECRET_KEY}"
jwtSecretKey: "${JWT_SECRET_KEY}"
registryAddr: "${REGISTRY_ADDRESS}"
httpClientInsecure: ${HTTP_CLIENT_INSECURE}
enableTaskAbort: ${ENABLE_TASK_ABORT}
enableRegister: ${ENABLE_REGISTER}

portal:
  address: "${PORTAL_ADDRESS}"


consul:
  address: "${CONSUL_ADDRESS}"
  id: "${SERVICE_ID}"
  ip: "${SERVICE_IP}"
  tags: "${SERVICE_TAGS}"
  port: 9030
  interval: "3s"
  timeout: "5s"
  deregister_after: "1m"
  consul_acl: ${CONSUL_ACL}
  consul_acl_token: "${CONSUL_ACL_TOKEN}"
  consul_tls: ${CONSUL_TLS}
  consul_cert_path: "${CONSUL_CERT_PATH}"

log:
  log_level: "${LOG_LEVEL}"
  ## 日志保存路径，不指定则仅打印到标准输出
  log_path: ""
  log_max_days: 7

kafka:
    disabled: ${KAFKA_DISABLED}
    topic: "${KAFKA_TOPIC}"
    group_id: "${KAFKA_GROUP_ID}"
    partition: ${KAFKA_PARTITION}
    ## example: brokers: ["kafka.example.com:9092", "..."]
    brokers: ${KAFKA_BROKERS}
    sasl_username: "${KAFKA_SASL_USERNAME}"
    sasl_password: "${KAFKA_SASL_PASSWORD}"

smtpServer:
  addr: "${SMTP_ADDRESS}"
  username: "${SMTP_USERNAME}"
  password: "${SMTP_PASSWORD}"
  fromName: "${SMTP_FROM_NAME}" # 邮件发送方的名称，不配置则为空
  from: "${SMTP_FROM}"  # 邮件显示的发送方，不配置则使用 username 值

ldap:
  admin_dn: "${LDAP_ADMIN_DN}" # 必填
  admin_password: "${LDAP_ADMIN_PASSWORD}" # 必填
  ldap_server: "${LDAP_SERVER}" # 必填
  ldap_server_port: 389
  search_base: "${LDAP_SEARCH_BASE}" # 必填
  ou_search_base: "${LDAP_OU_SEARCH_BASE}"
  search_filter: "${LDAP_SEARCH_FILTER}"
  email_attribute: "${LDAP_EMAIL_ATTRIBUTE}"
  account_attribute: "${LDAP_ACCOUNT_ATTRIBUTE}"

demo:
  enable: ${DEMO_ENABLE}
  vcs_name: "演示 VCS"
  vcs_type: "${DEMO_VCS_TYPE}"
  vcs_address: "${DEMO_VCS_ADDRESS}"
  vcs_token: "${DEMO_VCS_TOKEN}"
  project_name: "演示项目"
  templates: 
    - name: 演示云模板
      # 仓库 id(根据 vcs 类型不同可以为数值或者字符)
      repo_id: "${DEMO_TEM_REPO_ID}"  
      revision: "master"
      tfvars: ""
      tf_version: ""
      repo_full_name: ""
      description: ""
      variables: 
        - name: "${DEMO_TEM_AK_NAME}"
          value: "${DEMO_TEM_AK_VALUE}"
          sensitive: false
          description: "演示用 ak"
        - name: "${DEMO_TEM_SK_NAME}"
          value: "${DEMO_TEM_SK_VALUE}"
          sensitive: true
          description: "演示用 sk"

