listen: "0.0.0.0:9030"
mysql: "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?charset=utf8mb4&parseTime=True&loc=Local"

gitlab:
  url: "${GITLAB_URL}"
  token: "${GITLAB_TOKEN}"
  username: "${GITLAB_USERNAME}"

gitea:
  url: "${GITLAB_URL}"
  token: "${GITLAB_TOKEN}"
  username: "${GITLAB_USERNAME}"

task:
  time_ticker: ${TIME_TICKER}
  log_path: "${LOG_PATH}"

consul:
  address: "${CONSUL_ADDR}"
  id: "${SERVICE_ID}"
  ip: "${SERVICE_IP}"
  port: ${SERVICE_PORT}
  tags: "${SERVICE_TAGS}"
  interval: "${CHECK_INTERVAL}"
  timeout: "${CHECK_TIMEOUT}"
  deregister_after: "${DEREGISTER_AFTER}"

log:
    log_level: "info"
    log_max_days: 7

