listen: "0.0.0.0:9030"
mysql: "${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOST}:${MYSQL_PORT})/${MYSQL_DATABASE}?charset=utf8mb4&parseTime=True&loc=Local"

gitlab:
  url: "${GITLAB_URL}"
  token: "${GITLAB_TOKEN}"
  username: "${GITLAB_USERNAME}"
  type: "${GITLAB_TYPE}"

task:
  time_ticker: ${TIME_TICKER}
  log_path: "${LOG_PATH}"

consul:
  address: "${CONSUL_ADDR}"
  id: "${SERVICE_ID}"
  ip: "${SERVICE_IP}"
  port: ${SERVICE_PORT}
  tags: "${SERVICE_TAGS}"
  interval: "${CHECK_INTERVAL}"
  timeout: "${CHECK_TIMEOUT}"
  deregister_after: "${DEREGISTER_AFTER}"

log:
    log_level: "info"
    log_max_days: 7

kafka:
    topic: IAC_TASK_REPLY
    group_id: hangzhou-iac-proxy-1
    partition: 0,
    brokers: "10.0.3.190:9092","10.0.3.190:9093","10.0.3.190:9094"
    sasl_username: admin
    sasl_password: yunjikeji

smtpServer:
  addr: smtp.example.com:25
  username: user@example.com
  password: qwer1234
  fromName: "IaC" # 邮件发送方的名称，不配置则为空
  from: support@example.com   # 邮件显示的发送方，不配置则使用 username 值