# 管理员账号密码，只在初始化启动时进行读取
IAC_ADMIN_EMAIL=admin@example.com
IAC_ADMIN_PASSWORD=

# 部署的镜像版本，仅 docker-compose 部署时有效
IAC_VERSION=latest

## mysql 配置
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=iac
MYSQL_USER=root
MYSQL_PASSWORD=

# IaC 对外提供服务的地址
PORTAL_ADDRESS=http://public.host.ip

## consul 配置
CONSUL_ADDRESS=private.host.ip:8500

# portal 服务注册信息配置
SERVICE_IP=iac-portal
SERVICE_ID=iac-portal-01
SERVICE_TAGS="iac-porta;portal-01"

## 以下为 runner 配置
#### runner 服务注册配置
RUNNER_SERVICE_IP=ct-runner
RUNNER_SERVICE_ID=ct-runner-01
RUNNER_SERVICE_TAGS="ct-runner;runner-01"

## logger 配置
LOG_DEVEL="debug"
