[Unit]
Description=iac-portal
Wants=mysqld.service
After=mysqld.service

[Service]
Type=simple
WorkingDirectory=/opt/cloudiac
ExecStart=/opt/cloudiac/iac-portal -c /opt/cloudiac/config-portal.yml

[Install]
WantedBy=multi-user.target
